body {
    background: linear-gradient(#CFD6DB, #EEF1F4);
    min-height: 100vh;
    padding: 25px;
}
.card {
    border-radius: 20px;
    border: 0px;
    background: transparent;
}
.card-body {
    background-color: #501919;
    color: white;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    font-family: "ltc-goudy-heavyface-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}
.card-title {
    font-family: "ff-scala-jewel-crystal", sans-serif;
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 10px;
    font-style: normal;
}
.card-text {
    font-family: "ff-scala-jewel-crystal", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
}

.checkmystatusbutton {
    padding: 15px;
    margin: 10px;
    background-color: #501919;
    color: #F8F6F6;
    border: 2px solid #F8F6F6;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    font-family: "ff-scala-jewel-crystal", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    text-align: center;
}
.checkmystatusbutton:hover {
    background-color: #F8F6F6;
    color: #501919;
    transform:scale(1.2);

}
.snow-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}

.snow {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    animation: fallingSnow 3s linear infinite;
    position: absolute;
    left: 0;
    top: -40px;
}

@keyframes fallingSnow {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

.snow:nth-child(odd) {
    width: 6px;
    height: 6px;
    animation-delay: 0s;
    animation-duration: 10s;
}

.snow:nth-child(even) {
    width: 10px;
    height: 10px;
    animation-delay: 7s;
}

.snow:nth-child(1){
    left: 8%
} .snow:nth-child(2){
    left: 16%;
}
