body {
    background-color: #c2c4c6;
}
.card-body {
    color: #F8F6F6;
    background-color: #501919;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 15px;
    margin: 10px;
    background-color: #501919;
    color: #F8F6F6;
    border: 2px #F8F6F6;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 90%;
    box-sizing: border-box;
    
}
.button:hover {
    background-color: #F8F6F6;
    color: #501919;
}




.snow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.snow {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    animation: fallingSnow 3s linear infinite;

    position: absolute;
    left: 0;
    top: -40px;
}

@keyframes fallingSnow {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

.snow:nth-child(1) {
    left: 7%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 6s;
}

.snow:nth-child(2) {
    left: 14%;
    width: 30px;
    height: 30px;
    animation-delay: 1s;
}

.snow:nth-child(3) {
    left: 21%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
}

.snow:nth-child(4) {
    left: 28%;
    width: 10px;
    height: 10px;
    animation-delay: 3s;
}

.snow:nth-child(5) {
    left: 35%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.snow:nth-child(6) {
    left: 42%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
}

.snow:nth-child(7) {
    left: 49%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 0s;
}

.snow:nth-child(8) {
    width: 30px;
    height: 30px;
    animation-delay: 1s;
}

.snow:nth-child(9) {
    left: 63%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
}

.snow:nth-child(10) {
    left: 70%;
    width: 40px;
    height: 40px;
    animation-delay: 3s;
}

.snow:nth-child(11) {
    left: 77%;
    width: 10px;
    height: 10px;
    animation-delay: 4s;
}

.snow:nth-child(12) {
    left: 84%;
    width: 20px;
    height: 20px;
    animation-delay: 5s;
}

.snow:nth-child(13) {
    left: 91%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
}

.snow:nth-child(14) {
    left: 98%;
    width: 45px;
    height: 45px;
    animation-delay: 3s;
}
